*{
    margin-top: 0;
    bottom: 0;
    box-sizing: border-box;
}



.container-nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:rgb(43, 42, 42);
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 3rem;
    
}

.container-nav ul li {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.container-nav ul li:hover{
    border-radius: 15px;

}